 
<section class="testSection">
    <p>Test your typing...</p>
    <div class="typing_area">
        <input id="key_catcher"></textarea>
        <div class="test_tracker"><span class="done"></span><span class="todo"><%=paragraph%></span></div>
        
    </div> 
    <div class="scores">
        <span class="speed">0</span>
        <span class="waiting">saving...</span>
        <span class="accuracy">0</span>
    </div>
</section>

<% if !logged_in? %>
    <section class="call_for_action">
            <p><a class="sign_in" href="/sign_in">Sign In</a>  or  <a class="sign_up" href="/sign_up">Create Account</a>  to track your progress</p>
    </section>
<% end %>

<section class="leaderBoardSection">
    <h2>Leaderboard</h2>
    <div class="topScoresTable">
        <table>
            <thead>
                <tr>
                    <th colspan="1"> </th>
                    <th colspan="1"> </th>
                    <th colspan="1">Speed(wpm)</th>
                    <th colspan="1">Accuracy</th>
                    <th colspan="1">Tests Taken</th>
                </tr>
            </thead>
            <tbody>
                <% top_scores.each do |user| %>
                <tr>
                    <td> <%= user['rank']%> </td>
                    <td> <%= user['first_name']%> <%= user['last_name']%> </td>
                    <td> <%= user['wpm']%> </td>
                    <td> <%= user['accuracy']%> </td>
                    <td> <%= user['tests_taken']%> </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</section>